<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.barcodescanner"
    version="2.0.1">

    <name>BarcodeScanner</name>
    <description>You can use the BarcodeScanner plugin to scan different types of barcodes (using the device's camera) and get the metadata encoded in them for processing within your application.</description>
    <license>MIT</license>

    <repo>https://github.com/wildabeast/BarcodeScanner</repo>
    <issue>https://github.com/wildabeast/BarcodeScanner/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/barcodescanner.js" name="BarcodeScanner">
        <clobbers target="cordova.plugins.barcodeScanner" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <!-- Cordova >= 2.8 -->
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="ios-package" value="CDVBarcodeScanner" />
            </feature>
        </config-file>

        <resource-file src="src/ios/scannerOverlay.xib" />

        <header-file src="src/ios/zxing-all-in-one.h" />

        <source-file src="src/ios/CDVBarcodeScanner.mm" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/zxing-all-in-one.cpp" />

        <framework src="libiconv.dylib" />
        <framework src="AVFoundation.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="QuartzCore.framework" />
    </platform>

    <!-- android -->
    <!-- Removed - using ZXing for barcodes on android -->

    <platform name="windows8">
        <js-module src="src/windows8/BarcodeScannerProxy.js" name="BarcodeScannerProxy">
            <merges target="" />
        </js-module>
        <config-file target="package.appxmanifest" parent="/Package/Capabilities">
            <DeviceCapability Name="webcam" />
        </config-file>
        <framework src="src/windows8/lib/ZXing.winmd" custom="true" />
        <framework src="src/windows8/lib/WinRTBarcodeReader.winmd" custom="true" />
    </platform>

    <!-- Windows Phone 8 -->
    <platform name="wp8">

        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="wp-package" value="BarcodeScanner"/>
            </feature>
        </config-file>

        <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
            <Capability Name="ID_CAP_ISV_CAMERA" />
        </config-file>

        <framework src="src/wp8/lib/zxing.wp8.0.dll" custom="true" />

        <source-file src="src/wp8/BarcodeScanner.cs" />
        <source-file src="src/wp8/BarcodeScannerTask.cs" />
        <source-file src="src/wp8/BarcodeScannerUI.xaml" />
        <source-file src="src/wp8/BarcodeScannerUI.xaml.cs" />

    </platform>

    <!-- browser -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="browser-package" value="BarcodeScanner" />
            </feature>
        </config-file>

        <js-module src="src/browser/BarcodeScannerProxy.js" name="BarcodeScannerProxy">
            <runs />
        </js-module>
    </platform>

</plugin>
